<%- include('./partials/head') %>
<main class="MPerson">
<a href="/">Back</a>
<!-- hier zie je de indeling van de kaart wanneer je op de person .ejs komt -->
<section class="personcard">
<div>
    <dl>
        <dt>Naam</dt>
        <dd><a href="./person/<%= person.id %>"><%= person.name %></a></dd>
        <dt>Achternaam</dt>
        <dd><%= person.surname %></dd>
        <dt>Squad</dt>
        <dd><%= person.squad_id %></dd>
        <dt>Bio</dt>
        <dd><%= person.bio %></dd>
      </dl>
      <img src="<%= person.avatar %>" alt="" />
</div>
</section>
<section class="send">
<!-- hier schrijf je je bericht -->
<form method="POST" action="/" class="chatbox">
    <input type="hidden" name="id" value="<%= person.id %>">
    <label for="bericht">stuur je bericht
        <textarea id="bericht" required name="bericht">
</textarea>
    </label>
    <button type="submit">verstuur je berichts</button>

</form>
<!-- de message die je schrijft komt hier in de output section terecht --> <!--<%= message %> is waar de message terecht komt-->
<ul class="output">
    <% messages.forEach(message =>{ %>
        <li><%= message %></li>
    <% }) %>
</ul>
</section>
</main>
<%- include('./partials/foot') %>